body {
    font-family: 'Courier New', Courier, monospace;
}

.container{
    /* outline: 1px solid brown; */
    width: 500px;
    height: 300px;
    
}

fieldset {
    width: 500px;
    height: 300px;
}

input[type="text"] {
    width: 200px;
}

textarea {
    resize: none;
    vertical-align: top;
  }
